<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Товар</title>
</head>
<body>
    {% for item in items %}
        {% if item.id == num %}
            <b>{{item.name}}</b> <br>
           {{item.brand}} <br>
           {% if item.count != 0 %}
                {{item.count}} {{ "штук"}}  <br>
           {% endif %}
           {% if item.count == 0 %}
                {{"Товара нет на складе"}} <br>
           {% endif %}
        {% endif %}
    {%endfor%}
    <a href = '/items/'>BACK</a>
</body>
</html>