{% extends 'base.html' %}

{% block style %}

{{ block.super }}
<style>
div{
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px 0 0 10px;
    border: 2px solid #090;
}

#container1{
    width:580px;
    height: 125px;
}

p{
    margin: 0 0 0 10px;
    width: 100px;
    height: 100px;
}
</style>
{% endblock %}

{% block content %}
<h2> Список товаров </h2>
<div id="container1">
    {% for item in items %}
        <div><a href = "{% url 'item-detail' item.id %}">{{ item.name }}</a> <br>
            {{ item.descript }}
        </div>
    {% endfor%}
</div>
<p>
    <a href = '../'>На главную</a>
</p>
{% endblock %}