<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    div{
    float: left;
    width: 100px;
	height: 100px;
	margin: 10px 0 0 10px;
	border: 2px solid #090;
    }
    #container1{
    width:580px;
    height: 125px;
    }
    p{
    margin: 0 0 0 10px;
    width: 100px;
	height: 100px;
    }
</style>
<body>
<h2> Список товаров </h2>
<div id="container1">
    {% for item in items %}
        <div><a href = '../item/{{ item.id }}/'>{{ item.name }}</a> <br>
            {{ item.descript }}
        </div>
    {% endfor%}
</div>
<p>
    <a href = '../'>На главную</a>
</p>
</body>
</html>